
.title {
    display: flex;
    width: 550px;
    justify-content: space-between;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.post {
    width: 550px;
    padding: 10px;
    grid-area: AddNewPost;
    max-height: 50px;
}
.icon {
    font-size: 18px;
    size: 18px 18px;
    margin: auto 20px auto 0;
    color: #c3c3c8;
}

.send_icon {
    font-size: 25px;
    size: 25px 25px;
    margin: auto 5px auto 15px;
    color: #c3c3c8;
}

.icon span{
    font-size: 18px;
    size: 18px 18px;
    margin: 0 5px ;
}

.inputBox {
    color: #fff;
    background-color: transparent;
    padding: 0 0 0 20px;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 230px;
    outline: none;
    font-size: 15px;
}
