.logo {
    height: 70px;
    width: 70px;
}

.header {
    grid-area: Head;
    display: flex;
    padding: 0;
    margin: 0;

}

.inputBox {
    color: #c3c3c8;
    background-color: #2d2c2e;
    display: flex;

    border-radius: 10px;
    margin: 15px;
    height: 40px;
    width: 230px;
    outline: none;
    font-size: 18px;
    padding: 0 0 0 5px;

}
.inputBox span {
    margin: auto 0;
}


.inputBox input {
    border: none;
    height: 40px;
    padding: 0 0 0 10px;
    width: 230px;
    outline: none;
    font-size: 15px;
    color: #fff;
    background-color: transparent;
}

.icon {
    width: 20px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    margin: auto 0;
    color:  #c3c3c8;
}

.icon span {
    font-size: 20px;
}
