
body {
    background-color: #303030;
    color: #ffffff;
    font-family: "Roboto Light", sans-serif;
}

.widget {
    background-color: #272627;
    border-radius: 10px;
    padding: 10px;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.app-wrapper {
    display: grid;
    grid-template-areas:
          "Head Head Head"
          "Nav Profile Data";
    grid-template-rows: 70px 400px 400px;
    grid-template-columns: 170px 220px 540px;
    grid-gap: 10px;
}

