.profile {
    grid-area: Profile;
    width: 200px;
    max-height: 240px;
    grid-row: 1 / span 2;
}

.avatar {
    width: 200px;
    height: 200px;
}

.edit {
    width: 200px;
    height: 30px;
    background-color: #343235;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    padding: 0;
    margin-top: 5px;
    cursor: pointer;
}