.profile {
    grid-area: Profile;
    height: 245px;
}

.avatar {
    width: 200px;
    height: 200px;
}

.edit {
    width: 200px;
    height: 30px;
    background-color: #343235;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
}