.nav {
    grid-area: Nav;
    max-height: 240px;
    color: #97979b;
}

li {
    list-style-type: none;
    margin: 0;
    line-height: 1;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    display: block;
    color: #97979b;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
}

a span {
    height: 30px;
    margin-right: 10px;
}
